<body role="document">
<include file="Includes/header"/>
<!-- Some additional css -->
<link href="__PUBLIC__/assets/css/style.css" rel="stylesheet">
</head>  
<body role="document">
<include file="Includes/nav"/>
<div class="container marketing pagebody">

<h1 style="text-align:center">{$Think.lang.Help}</h1>

<div class="row">
	<div class="col-md-12">
<p>网址：<a href="http://www.chinacrowds.com">http://www.chinacrowds.com</a></p>
<p>类型：众包网站+安卓APP+iOS APP</p>
<p>功能（标*的是APP也具备的功能）：</p>
<h2>一、首页</h2>
<p>1、首页</p>
<p>（1）导航栏</p>
<p>未登录、登录Worker、登录Requester的导航栏不同</p>
<p>未登录：首页、关于我们、联系我们、帮助、多语言切换</p>
<p>登录Worker：搜索框、任务列表、统计板、个人资料、登出、帮助、多语言切换</p>
<p>登录Requester（目前与Worker相同）：搜索框、任务列表、统计板、个人资料、登出、帮助、多语言切换</p>
<p>（2）宣传内容</p>
<p>（3）当前Worker数量、Requester数量、Task数量、可用Task数量等统计信息</p>
<p>（4）页脚</p>
<p>2*、关于我们</p>
<p>（1）网站介绍</p>
<p>（2）团队介绍</p>
<p>3*、联系我们</p>
<p>（1）联系方式</p>
<p>（2）直接发信</p>
<p>4*、帮助</p>
<p>（1）Worker帮助信息</p>
<p>（2）Requester帮助信息</p>
<p>5*、隐私条款</p>
<p>6*、服务条款</p>
<p>7*、注册页面</p>
<p>8*、登录页面</p>
<p>9*、找回密码页面</p>
<h2>二、雇员（Worker）</h2>
<p>1*、任务列表</p>
<p>展示可用任务的基本信息（支持分页、排序），点击可进入做任务页面</p>
<p>2*、做任务</p>
<p>展示当前任务可做问题的内容，有【提交】按钮；问题样式需要设计更美观些</p>
<p>3*、个人资料</p>
<p>查看和修改个人的基本信息</p>
<p>4、统计板</p>
<p>展示近一段时间的赚钱情况、做任务数量、做单元数量（柱状图或折线图等）</p>
<h2>三、雇主（Requester）</h2>
<p>1、任务列表</p>
<p>展示自己已经创建的任务的基本信息（支持分页、排序），点击可进入编辑任务页面，有一个【发布任务】按钮</p>
<p>2、个人资料</p>
<p>查看和修改个人的基本信息，还有一个充值成功和失败的页面</p>
<p>3、统计板</p>
<p>展示近一段时间的花钱情况、被做任务数量、被做单元数量（柱状图或折线图等）</p>
<p>4、创建/编辑任务</p>
<p>有一个导航条指导用户到了哪一步，下面即是指各个导航条（分组）</p>
<h3>（一）设计任务</h3>
<p>（1）选择模板</p>
<p>提供若干模板供Requester选择，有简短描述信息，点击模板图片或按钮可以看此模板的详细描述；</p>
<p>模板详细描述页面展示详细描述内容、样例、以及【使用这个模板】按钮，点击后进入创建任务页面，同时导航中隐藏选择模板的导航</p>
<p>（2）创建任务</p>
<p>显示指导性文字，Requester编辑任务名称、描述、标签、单元描述、问题（类型包括文本、单选和多选），然后【保存】</p>
<p>（3）数据</p>
<p>有一个文件选择框，【提交】按钮，以及【下载示例文件】的链接；图片类型的任务还有上传图片文件包的文件选择框，【提交】按钮，以及【下载URL文件】链接</p>
<p>（4）预览</p>
<p>展示加入数据之后任务的预览，与模板详细描述页面类似</p>
<h3>（二）质量管理</h3>
<p>（1）资格测试</p>
<p>有一个文件选择框，【提交】按钮，以及【下载示例文件】的链接；有明测测试和暗测测试的设置，有【保存】和【下一步】按钮</p>
<p>（2）任务设置</p>
<p>有若干任务参数的设置框，有【保存】和【下一步】按钮</p>
<h3>（三）获取结果</h3>
<p>（1）发布</p>
<p>有一个【发布】按钮（后续可能增加暂停、终止、恢复、删除等按钮）</p>
<p>（2）监控</p>
<p>显示任务的设置参数和实时的统计数据，文本形式显示即可</p>
<p>（3）结果</p>
<p>有一个【结果】按钮</p>
	</div>
</div>
<include file="Includes/bottom"/>
</div><!-- /.container -->
<!-- Some additional javascript -->
<script type="text/javascript" src="__PUBLIC__/assets/js/index.js"></script>
<include file="Includes/footer"/>
