<body role="document">
<include file="Includes/header"/>
<!-- Some additional css -->
<link href="__PUBLIC__/assets/css/style.css" rel="stylesheet">
</head>  
<body role="document">
<include file="Includes/nav"/>
<div class="container marketing pagebody">

<h1 style="text-align:center">{$Think.lang.Privacy}</h1>

<!--<div class="row">
	<div class="col-md-6">
		<h2>{$Think.lang.Email}</h2>
		<p><a href="mailto:chinarwords@163.com">chinarwords@163.com</a></p>
		<h2>{$Think.lang.Address}</h2>
		<p>北京市海淀区清华大学东主楼10区204</p>
	</div>
</div>-->
<include file="Includes/bottom"/>
</div><!-- /.container -->
<!-- Some additional javascript -->
<script type="text/javascript" src="__PUBLIC__/assets/js/index.js"></script>
<include file="Includes/footer"/>
