<include file="Includes/header"/>
    <link href="__PUBLIC__/assets/css/dashboard.css" rel="stylesheet">
    <link href="__PUBLIC__/assets/css/style.css" rel="stylesheet">
  </head>
  
<body role="document">
    <include file="Includes/nav"/>
    <div class="container marketing pagebody">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-12 main">
          <div class="row page-header" style="text-align:center">
            <div class="col-md-12 col-xs-12">
              <h1 class="index_title">{$Think.lang.Recharge Fail}</h1>
              <h3 class="index_tiltle"><a href="{$Think.config.WEB_URL}/Requester/Profile">{$Think.lang.Return to my profile}</a></h3>
              <h4 class="index_title">{$Think.lang.Contact us for help}: chinacrowds@163.com</h4>
            </div>
      </div>
      </div>
      </div>
     </div>
      <include file="Includes/bottom"/>
    </div>
    <script type="text/javascript" src="__PUBLIC__/assets/js/Requester/index.js"></script>

<include file="Includes/footer"/>